* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #847c79;
  --tertiary-color: #e3e6e6;
  --fourth-color: #c9c9c9;
  --text-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

header {
  min-height: 10vh;
  background: var(--primary-color);
  border-radius: 0px 50px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 10rem;
}

header img {
  height: 4rem;
  flex: 1;
}

.header img {
  animation-name: move-logo-animation;
  animation-duration: 5s;
  transition: all;
}

.search-bar-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.fa-brands {
  width: 4rem;
  color: var(--tertiary-color);
  cursor: pointer;
  margin: 0.5rem 0rem;
  text-align: center;
}

.fa-brands:hover {
  color: #7f706b;
}

.icons {
  border-bottom: 0.2rem solid white;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0rem;
  width: 100%;
}

.search-box input {
  padding-left: 3rem;
  height: 3rem;
  width: 100%;
  border: none;
  background-color: var(--tertiary-color);
  display: none;
}

.search-box input.active {
  display: block;
  animation-name: scale-in-animation;
  animation-duration: 0.5s;
}

.search-icon {
  width: 3rem;
  height: 3rem;
}

.search-icon img {
  background-color: var(--tertiary-color);
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  cursor: pointer;
}

.search-icon img:hover {
  background-color: var(--fourth-color);
}

.container {
  display: grid;
  grid-template-columns: 20% auto;
}

aside {
  min-height: 90vh;
  background: var(--fourth-color);
  grid-row-start: span 2;
  border-radius: 0px 0px 0px 50px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  color: var(--primary-color);
}

nav li {
  width: 100%;
  border: 1px solid var(--primary-color);
  margin: 0.5rem 0rem;
  border-radius: 30px;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  background: var(--text-color);
}

nav li:hover {
  background: var(--secondary-color);
  color: var(--text-color);
  transition: all;
}

.drop-down-menu {
  position: relative;
}

.drop-down-menu ul {
  width: 10rem;
  position: absolute;
  top: 0;
  right: -10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  color: var(--primary-color);
  background-color: var(--fourth-color);
  display: none;
  margin-top: -0.5rem;
}

.drop-down-menu ul li {
  width: 80%;
  text-align: center;
  margin: 0.5rem auto;
}

.drop-down-menu:hover ul {
  display: block;
}

main {
  min-height: 80vh;
  background: var(--tertiary-color);
  width: auto;
}

.car-slider {
  width: 100%;
  display: flex;
  position: relative;
}

.car-slider img {
  object-fit: cover;
  width: 100%;
}

.fa-solid {
  color: var(--secondary-color);
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
}

.fa-arrow-left {
  top: 50%;
  left: 2%;
}

.fa-arrow-right {
  top: 50%;
  right: 2%;
}

footer {
  min-height: 10vh;
  background: var(--primary-color);
}

@keyframes move-logo-animation {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(80rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes scale-in-animation {
  0% {
    transform: scale(0);
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
