* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #131921;
  --secondary-color: #e67a01;
  --tertiary-color: #e3e6e6;
  --fourth-color: #c9c9c9;
  --text-color: white;
}

header {
  min-height: 10vh;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  border-radius: 0px 50px 0px 0px;
}

.header {
  width: 80%;
  margin: auto;
}

header img {
  height: 3rem;
}

.container {
  display: grid;
  grid-template-columns: 20% auto;
}

aside {
  min-height: 90vh;
  background: var(--fourth-color);
  grid-row-start: span 2;
  border-radius: 0px 0px 0px 50px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  color: var(--primary-color);
}

nav li {
  width: 100%;
  border: 1px solid var(--primary-color);
  margin: 0.5rem 0rem;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  background: var(--text-color);
}

nav li:hover {
  background: var(--secondary-color);
  color: var(--text-color);
  transition: all;
}

.drop-down-menu {
  position: relative;
}

.drop-down-menu ul {
  width: 10rem;
  position: absolute;
  top: 0;
  right: -10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  color: var(--primary-color);
  background-color: var(--fourth-color);
  display: none;
  margin-top: -0.5rem;
}

.drop-down-menu ul li {
  width: 80%;
  text-align: center;
  margin: 0.5rem auto;
}

.drop-down-menu:hover ul {
  display: block;
}

main {
  min-height: 80vh;
  background: var(--tertiary-color);
}

footer {
  min-height: 10vh;
  background: var(--primary-color);
}
