* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #131921;
  --secondary-color: #e67a01;
  --tertiary-color: #e3e6e6;
  --fourth-color: #c9c9c9;
  --text-color: white;
}

header {
  min-height: 10vh;
  background: var(--primary-color);
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 20% auto;
}

aside {
  min-height: 90vh;
  background: var(--fourth-color);
  grid-row-start: span 2;
}

main {
  min-height: 80vh;
  background: var(--tertiary-color);
}

footer {
  min-height: 10vh;
  background: var(--primary-color);
}
